if SHIELD_PURE42_LEFT

config ZMK_KEYBOARD_NAME
    default "Pure42"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PURE42_LEFT || SHIELD_PURE42_RIGHT

config ZMK_SPLIT
    default y

endif